body {
    background-color: rgba(0,0,0,.95);
}
#lastUpdated {
    text-align: left;
    color: white;
    padding-left: 10px;
}

.ui.huge.header {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

.ui.text.container {
    font-family: "Courier New", Courier, monospace;
}

.clientTable {
    margin-left: 10px;
    margin-right: 10px;
}

.ui.stackable.labeled.icon.inverted.menu a {
    width: 7.5%;
}

.sortable.stackable.ui.selectable.inverted.compact.table th {
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
}

.sortable.stackable.ui.selectable.inverted.compact.table td {
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
}
.sortable.stackable.ui.selectable.compact.table th {
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
}

.sortable.stackable.ui.selectable.compact.table td {
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
}

.sortable.stackable.ui.selectable.inverted.compact.table tr.green {
    color: #1eea17;
}

.sortable.stackable.ui.selectable.inverted.compact.table tr.red {
    color: rgb(255,0,50);
}

.sortable.stackable.ui.selectable.inverted.compact.table tr.orange {
    color: orange;
}

.sortable.stackable.ui.selectable.inverted.compact.table tr.orangeFlash {
    color: Yellow;
    animation: blinker 4s linear infinite;
}

@keyframes blinker {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    11% {
        opacity: 100;
    }

    100% {
        opacity: 100;
    }
}

.sortable.stackable.ui.selectable.inverted.compact.table tr.blue {
    color: cyan;
}


.ui.labeled.icon.inverted.menu div.right.menu div.item.livepbx img {
    width: 140px;
}

.ui.striped.inverted.compact.table {
    font-family: "Courier New", Courier, monospace;
    font-size: 17px;
}

.ui.inverted.main.text.container.segment p {
    text-align: center;
}

.ui.inverted.main.text.container.segment button.massive.ui.button {
    margin: 25px 33% 2em;
}

.ui.inverted.segment.landing {
    margin-top: 20em;
}

.ui.two.column.stackable.center.aligned.grid.landing {
    padding-top: 5em;
    padding-bottom: 10em;
}


.ui.table thead tr {
    background: #6f6f70;
}

.ui.table thead th {
    text-align: left;
}

.ui.table tr td {
    text-align: left;
}

.ui.table thead th.ops {
    text-align: center;
}

.ui.table tr td.ops {
    text-align: center;
}

#author {
    bottom: 0;
    margin-bottom: 5px;
    padding-left: 10px;
    width: 100%;
    color: #4e4e4f;
    font-size: 13px;
    text-align: left;
}

.btnform {
    margin: 0px;
}

.addBtn {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.uc {
    text-align: center;
}


.ui.header.mainTitle {
    width: 100%;
    text-align: center;
    color: white;
}
